In [1]:
import pandas as pd
import os

In [ ]:
df = pd.read_csv('C:\\Repos\\Project2\\WeatherMachine\\Data cleaning\\cloud_cover\\combined_cloud_data.csv')

dfgitg

,Observation station,Cloud cover [1/8],Date,cloud_cover_code
0,Rautavaara Ylä-Luosta,Clear (0/8),2005-01-01,0
1,Rautavaara Ylä-Luosta,Cloudy (8/8),2005-01-02,8
2,Rautavaara Ylä-Luosta,Mostly cloudy (7/8),2005-01-03,7
3,Rautavaara Ylä-Luosta,Mostly cloudy (7/8),2005-01-04,7
4,Rautavaara Ylä-Luosta,Mostly cloudy (7/8),2005-01-05,7
...,...,...,...,...
43306,Sotkamo Kuolaniemi,Cloudy (8/8),NaN,8
43307,Sotkamo Kuolaniemi,Clear (1/8),NaN,1
43308,Lahti Sopenkorpi,Cloudy (8/8),NaN,8
43309,Lahti Sopenkorpi,Clear (0/8),NaN,0
43310,Sotkamo Kuolaniemi,Partly cloudy (5/8),NaN,5

In [4]:
unique_values = df['Cloud cover [1/8]'].unique()
unique_values

array(['Clear (0/8)', 'Cloudy (8/8)', 'Mostly cloudy (7/8)',
       'Mostly clear (3/8)', 'Cloudiness cannot be determined (9/8)',
       'Partly cloudy (5/8)', 'Clear (1/8)', '-', 'Mostly cloudy (6/8)',
       'Partly cloudy (4/8)', 'Mostly clear (2/8)'], dtype=object)