In [ ]:
import numpy as np
import pandas as pd

# Directory where CSV files are stored
df = pd.read_csv("C:\\Repos\\Project2\\WeatherMachine\\Data cleaning\\Snow_temp_precip\\Lahti_snow_temp_preci.csv")

# Count consecutive days with snow > 10 cm
df['days_above_10cm'] = (df['Snow depth [cm]'] > 10).astype(int)
df['days_above_10cm'] = df.groupby((df['Snow depth [cm]'] <= 10).cumsum())['days_above_10cm'].cumsum()

# Count consecutive days with snow > 20 cm
df['days_above_20cm'] = (df['Snow depth [cm]'] > 20).astype(int)
df['days_above_20cm'] = df.groupby((df['Snow depth [cm]'] <= 20).cumsum())['days_above_20cm'].cumsum()

df

,Observation station,Precipitation amount [mm],Snow depth [cm],Average temperature [°C],Date,days_above_10cm,days_above_20cm
0,Lahti Laune,0.4,27.0,-13.6,2000-01-01,1,1
1,Lahti Laune,7.7,26.0,-4,2000-01-02,2,2
2,Lahti Laune,1.2,31.0,-2.4,2000-01-03,3,3
3,Lahti Laune,2.1,30.0,0.8,2000-01-04,4,4
4,Lahti Laune,0,25.0,0.2,2000-01-05,5,5
...,...,...,...,...,...,...,...
9127,Lahti Sopenkorpi,-1.0,14.0,-0.4,2024-12-27,14,0
9128,Lahti Sopenkorpi,0.5,14.0,-2.5,2024-12-28,15,0
9129,Lahti Sopenkorpi,6.4,13.0,3.1,2024-12-29,16,0
9130,Lahti Sopenkorpi,-1.0,9.0,0.1,2024-12-30,0,0
9131,Lahti Sopenkorpi,0.9,8.0,-3.6,2024-12-31,0,0

In [ ]:
df['Snow depth [cm]'] = pd.to_numeric(df['Snow depth [cm]'])

In [7]:
df

,Observation station,Precipitation amount [mm],Snow depth [cm],Average temperature [°C],Date
0,Lahti Laune,0.4,27,-13.6,2000-01-01
1,Lahti Laune,7.7,26,-4,2000-01-02
2,Lahti Laune,1.2,31,-2.4,2000-01-03
3,Lahti Laune,2.1,30,0.8,2000-01-04
4,Lahti Laune,0,25,0.2,2000-01-05
...,...,...,...,...,...
9127,Lahti Sopenkorpi,-1.0,14,-0.4,2024-12-27
9128,Lahti Sopenkorpi,0.5,14,-2.5,2024-12-28
9129,Lahti Sopenkorpi,6.4,13,3.1,2024-12-29
9130,Lahti Sopenkorpi,-1.0,9,0.1,2024-12-30
9131,Lahti Sopenkorpi,0.9,8,-3.6,2024-12-31

In [11]:
invalid_rows = df[df['Snow depth [cm]'] == '-']

# Print out those rows
print(invalid_rows)

     Observation station Precipitation amount [mm] Snow depth [cm]  \
6280         Lahti Laune                        -1               -
6281         Lahti Laune                        -1               -
6284         Lahti Laune                       0.1               -
6287         Lahti Laune                       3.4               -
6289         Lahti Laune                       4.5               -
6290         Lahti Laune                       0.3               -
6291         Lahti Laune                        -1               -
6292         Lahti Laune                       0.4               -
6293         Lahti Laune                       0.2               -
6294         Lahti Laune                       0.8               -
6295         Lahti Laune                       0.1               -
6296         Lahti Laune                        -1               -
6426         Lahti Laune                         4               -
6494         Lahti Laune                       5.4               -
6501         Lahti Laune                        -1               -
6687         Lahti Laune                       0.2               -
6725         Lahti Laune                        -1               -
6869         Lahti Laune                       0.1               -
6870         Lahti Laune                       2.7               -
6881         Lahti Laune                        -1               -
6894         Lahti Laune                       0.1               -
6956         Lahti Laune                       0.7               -
6957         Lahti Laune                        -1               -
7452    Lahti Sopenkorpi                      -1.0               -
7453    Lahti Sopenkorpi                      -1.0               -

     Average temperature [°C]        Date
6280                     -0.7  2017-03-12
6281                      2.1  2017-03-13
6284                      2.3  2017-03-16
6287                      0.5  2017-03-19
6289                        1  2017-03-21
6290                      2.1  2017-03-22
6291                      1.2  2017-03-23
6292                     -1.2  2017-03-24
6293                     -0.6  2017-03-25
6294                      3.4  2017-03-26
6295                        5  2017-03-27
6296                      0.6  2017-03-28
6426                     15.5  2017-08-05
6494                      3.5  2017-10-12
6501                      5.1  2017-10-19
6687                      3.2  2018-04-23
6725                     13.4  2018-05-31
6869                      7.4  2018-10-22
6870                      1.6  2018-10-23
6881                      6.9  2018-11-03
6894                        8  2018-11-16
6956                     -7.6  2019-01-17
6957                    -13.2  2019-01-18
7452                     16.6  2020-05-27
7453                     13.7  2020-05-28

In [8]:
df2 = pd.read_csv("C:\\Repos\\Project2\\WeatherMachine\\Data cleaning\\Snow_temp_precip\\Tahko_snow_temp_preci.csv")

df2

,Observation station,Precipitation amount [mm],Snow depth [cm],Average temperature [°C],Date
0,Kuopio Maaninka,0.2,29,-13.3,2000-01-01
1,Kuopio Maaninka,6.2,29,-8.2,2000-01-02
2,Kuopio Maaninka,4.4,35,-7.7,2000-01-03
3,Kuopio Maaninka,0.2,38,-4.2,2000-01-04
4,Kuopio Maaninka,0.1,38,-1.7,2000-01-05
...,...,...,...,...,...
9127,Kuopio Maaninka,-1,17,0,2024-12-27
9128,Kuopio Maaninka,4,17,-3.4,2024-12-28
9129,Kuopio Maaninka,4.8,20,0.9,2024-12-29
9130,Kuopio Maaninka,-1,15,-1.3,2024-12-30
9131,Kuopio Maaninka,-1,17,-5.3,2024-12-31

In [9]:
invalid_rows2 = df2[df2['Snow depth [cm]'] == '-']

# Print out those rows
print(invalid_rows2)

     Observation station Precipitation amount [mm] Snow depth [cm]  \
910      Kuopio Maaninka                       6.7               -
6143     Kuopio Maaninka                       0.3               -
6144     Kuopio Maaninka                       4.9               -
6159     Kuopio Maaninka                        -1               -
6275     Kuopio Maaninka                       0.2               -
6276     Kuopio Maaninka                         1               -
6277     Kuopio Maaninka                       1.5               -
6296     Kuopio Maaninka                         1               -
6510     Kuopio Maaninka                       3.1               -
6513     Kuopio Maaninka                        -1               -
6528     Kuopio Maaninka                       0.1               -
6533     Kuopio Maaninka                       0.9               -
6534     Kuopio Maaninka                       0.7               -
6540     Kuopio Maaninka                       0.6               -
6849     Kuopio Maaninka                       0.1               -
6850     Kuopio Maaninka                        -1               -
6851     Kuopio Maaninka                        -1               -
7168     Kuopio Maaninka                       2.4               -
7962     Kuopio Maaninka                       0.6               -

     Average temperature [°C]        Date
910                        13  2002-06-29
6143                     -0.5  2016-10-26
6144                      1.3  2016-10-27
6159                     -9.8  2016-11-11
6275                    -10.2  2017-03-07
6276                     -1.3  2017-03-08
6277                     -0.4  2017-03-09
6296                     -3.2  2017-03-28
6510                      0.8  2017-10-28
6513                     -4.7  2017-10-31
6528                     -0.4  2017-11-15
6533                     -0.2  2017-11-20
6534                     -2.3  2017-11-21
6540                      0.8  2017-11-27
6849                      4.7  2018-10-02
6850                      1.7  2018-10-03
6851                      0.6  2018-10-04
7168                     17.1  2019-08-17
7962                     -0.9  2021-10-19